@font-face {
  font-family: 'Dana VF';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('./assets/fonts/dana-variable.woff2') format('woff2-variations');
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: 'Jost VF';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('./assets/fonts/jost-variable.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/material-icons.woff2') format('woff2');
}

body {
  margin: 0px;
}

*,
*::before,
*::after {
  user-select: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

noscript {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
